@tailwind preflight;
@tailwind components;

/* .btn {
    @apply .bg-blue .text-white .no-underline .uppercase .rounded-full .py-2 .px-6 .text-xs
}
to make a component which is reusable */

@tailwind utilities;

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}

footer {
    background-image: linear-gradient(to left, #0065fd 50%, #93d8fd);
    -webkit-box-shadow: 0px 0px 32px 15px rgba(204, 204, 204, 1);
    -moz-box-shadow: 0px 0px 32px 15px rgba(204, 204, 204, 1);
    box-shadow: 0px 0px 32px 15px rgba(204, 204, 204, 1);
}
